/**
 * File overview: uAg Basket View CSS
 * Author: www.davidbourguignon.net
 * Version 2012-08-30
 */
.folder, .file {
    font-family: sans;
    font-size: 10px;
    cursor: pointer;
}

.folder {
    background-image: url('../images/folder-32x32.png');
    background-position: 50% 0%;
    background-repeat: no-repeat;
    margin: 2px;
    padding-top: 25px;
    text-align: center;
}

.file {
    background-image: url('../images/file-32x32.png');
    background-position: 50% 0%;
    background-repeat: no-repeat;
    margin: 2px;
    padding-top: 25px;
    text-align: center;
}
