/**
 * File overview: uAg Basket View CSS
 * Author: www.davidbourguignon.net
 * Version 2012-08-31
 */
.folder, .file {
    background-position: 50% 0%;
    background-repeat: no-repeat;
    margin: 2px;
    padding-top: 25px;
    text-align: center;
    font-family: sans;
    font-size: 10px;
    word-wrap: break-word;
    cursor: pointer;
}

.folder {
    background-image: url('../images/folder-32x32.png');
}

.file {
    background-image: url('../images/file-32x32.png');
}

.back {
    background-color: rgb(235,235,235);
    border: 1px dotted rgb(220,220,220);
    font-family: arial;
    font-weight: bolder;
}
